.about__title {
    font-family: 'Georgia', 'Times New Roman', serif; 
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    color: #333; 
  }
  
  .about {
    background-color: #fff; 
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    margin: 20px auto;
    max-width: 800px;
  }
  
  .about__text {
    font-size: 16px;
    line-height: 1.6;
    color: #333; 
    text-align: justify; 
  }
  

