.api__title{
    left: 405px;
    /*top: 1260px;*/
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
}

.api {
    text-align: center;
}

.api__box {
    background-color: powderblue;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    margin: 0 auto;
    padding-top: 30px;
}

.api-get__btn {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
}

.api-get__text {
    font-size: 19px;
    color: rgb(205, 50, 115);
}