ul{
    list-style: none;
}
body{
    margin: 0;
    /* background-color: #242B33; */
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    /* background-color: rgb(238, 199, 205); */
}

.container{
    max-width: 1110px;
    margin: 0 auto;    
}

h1{
    color: #333;
}