.form{
    padding-top: 120px;
    height: 360px;
    align-items: center;
    margin-top: 100px;
}


.form__title{
    color:#D4C17F;
    font-size: 36px;
}

.form__input{
    background: rgba(255, 255, 255, 0.2);
    padding: 12px 20px;
    width: 180px;
    border: none;
}
.form__input::webkit-input-placeholder{
    color: #BEBEBE;
    font-size: 14px;
    font-family: Raleway;

}
.form__warning{
    color: #E7E7E7;
    font-family: Raleway;
    font-size: 13px;
    line-height: 16px;
    width: 255px;
    height: 28px;
    left: 975px;
    top: 2407px;
}
.form__btn{
    background: #D4C17F;
    padding: 12px 54px;
    border: none;
    color: white;
    font-weight: bold;
    font-family: Raleway;
    font-size: 16px;
}
.form__content{
    text-align: center;
    position: relative;
}
.form__left{
    max-width: 45%;
}
.form__right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 65px;
}

.form-hiden {
    width: 300px;
    height: 150px;
    background-color: wheat;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    border-radius: 10%;
    display: none;
}

.form-hiden.active {
    display: block;
}

#yes-text {
    display: none;
}

#no-text {
    display: none;
}

.yes-text {
    position: absolute;
    top: 80px;
    left: 37%;
    background-color: aliceblue;
    width: 370px;
    height: 300px;
    border-radius: 20px;
}

#yes-text.active {
    display: block;
}

#no-text.active {
    display: block;
}

.yes-text__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.form-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}
