/* Style for the entire assess section */
.form {
    background-color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
  }
  
  /* Style for the container within the assess section */
  .container {
    max-width: 1110px;
    margin: 0 auto;
  }
  
  /* Style for the assess content */
  .form__content {
    text-align: center;
  }
  
  /* Style for the assess title */
  .form__title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Style for input fields */
  .form__input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Style for the "OK" button */
  .form__btn {
    padding: 10px 20px;
    background-color: #333; /* Change to your desired button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth color transition on hover */
  
    /* Style for button hover effect */
    :hover {
      background-color: #D4C17F; /* Change to your desired hover color */
    }
  }
  
  /* Style for the form open container */
  .form-open {
    margin: 20px 0;
  }
  
  /* Style for the hidden form */
  .form-hiden {
    display: none;
  }
  
  /* Style for the hidden form title */
  .form-hiden__title {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Style for hidden form buttons */
  .form-hiden__btn {
    padding: 10px 20px;
    background-color: #333; /* Change to your desired button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth color transition on hover */
  
    /* Style for button hover effect */
    :hover {
      background-color: #D4C17F; /* Change to your desired hover color */
    }
  }
  
  /* Style for the "Yes" text section */
  .yes-text {
    display: none;
    margin: 20px 0;
  }
  
  /* Style for the "Yes" text title */
  .yes-text-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Style for the close button */
  .form-close {
    cursor: pointer;
  }
  
  /* Style for the "Yes" text image */
  .yes-text__img {
    max-width: 100%;
    height: auto;
  }
  
