.hero{
    padding-top: 150px;
    padding-bottom: 70px;
}
.hero__title{
    color:#D4C17F;
    max-width: 556px;
    font-size: 60px;
    padding-top: 40px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.hero__content{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.border_photo{
    width: 400px;
    height: 500px;
}

.hero_photo{
    border-radius: 50%;
    width: 400px;
    height: auto;

    animation-name: my-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes my-animation {
    from{
      width: 400px;
      height: auto;
    }
    to{
      width: 300px;
      height: auto;
    }
  }