.video__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    margin-top: 60px;
}

.video__content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    display: flex;
    justify-content: center;
    text-align: center;
}
